@model IEnumerable<Do >

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<a asp-action="create" class="btn btn-danger"> add new task</a>
<table class="table">
    <thead>
        <tr>
            
           
            <th scope="col">name</th>
            <th scope="col">date</th>
            
            <th scope="col" >isdone</th>
            
            
        </tr>
    </thead>
    <tbody>

        @foreach(var iteam in Model)
        {
        <tr>
            
                <td>@iteam.Name</td>
                <td>@iteam.date</td>
                
                <td>@iteam.IsDone</td>
                <td><a asp-action="Edit" asp-route-id="@iteam.id" class="btn btn-info"> edit</a>
                    
                    <a asp-action="Detalis"asp-route-id="@iteam.id" class="btn bg-light id="x"> detalis</a>
                    <a asp-action="Delete" asp-route-id="@iteam.id" class="btn btn-danger"> delete</a>
                </td>
                
        </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Content will be loaded here using AJAX -->
            <div id="modalContent"></div>
        </div>
    </div>
</div>


<script>
    // jQuery script to load the partial view into the modal
    $(document).ready(function () {
        $("#x").click(function () {
            $.ajax({
                url: '@Url.Action("Detalis", "Db")',
                type: 'GET',
                success: function (result) {
                    // Update the modal content with the partial view
                    $("#modalContent").html(result);

                    // Show the modal
                    $("#myModal").modal("show");
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>

